<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container show-page">



            <!-- TEXT / 
            <div class="show-content">

                <!-- IMAGE TOP -->
            <div class="show-image">
                <img src="<%= showlisting.image.url %>" alt="listing image">
            </div>

            <h2 class="show-title">Listing Details</h2>

            <ul class="list-group">

                <li class="list-group-item">
                    <strong>Owner:</strong>
                    <%= showlisting.owner.username %>
                </li>
                <li class="list-group-item">
                    <strong>Title:</strong>
                    <%= showlisting.title %>
                </li>

                <li class="list-group-item">
                    <strong>Description:</strong>
                    <%= showlisting.description %>
                </li>

                <li class="list-group-item">
                    <strong>Price:</strong>
                    ₹ <%= showlisting.price.toLocaleString('en-IN') %>
                </li>

                <li class="list-group-item">
                    <strong>Location:</strong>
                    <%= showlisting.location %>
                </li>

                <li class="list-group-item">
                    <strong>Country:</strong>
                    <%= showlisting.country %>
                </li>
            </ul>




            <% if( curruser && curruser._id.equals(showlisting.owner._id)){%>
                <!-- BUTTONS -->
                <div class="show-actions">
                    <form action="/listing/<%= showlisting.id %>/edit" method="GET">
                        <button class="btn btn-warning">Edit</button>
                    </form>

                    <form action="/listing/<%= showlisting.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>


                <% } %>
                    <hr>
                    <div class="container edit-container">



                        <% if(curruser) { %>

                            <h2 class="edit-title text-center">Leave A Review </h2>


                            <form action="/listing/<%= showlisting.id %>/reviews" method="POST" class="edit-form">

                                <div class="mb-3">
                                    <fieldset class="starability-growRotate">
                                        <input type="radio" id="rate1" name="review[rating]" value="1" />
                                        <label for="rate1" title="Terrible">1 star</label>

                                        <input type="radio" id="rate2" name="review[rating]" value="2" />
                                        <label for="rate2" title="Not good">2 stars</label>

                                        <input type="radio" id="rate3" name="review[rating]" value="3" />
                                        <label for="rate3" title="Average">3 stars</label>

                                        <input type="radio" id="rate4" name="review[rating]" value="4" />
                                        <label for="rate4" title="Very good">4 stars</label>

                                        <input type="radio" id="rate5" name="review[rating]" value="5" required />
                                        <label for="rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div <div class="mb-3">
                                <label class="form-label">Comment</label>
                                <textarea name="review[comment]" rows="4" cols="10" class="form-control"
                                    required></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5">Submit</button>
                    </div>

                    </form>

                    <% } %>
                        <br>
                        <hr>
                        <br>
                        <!-- reviews  -->
                        <h2 class="text-center">Reviews</h2><br><br>

                        <div class="reviews-container">
                            <% for(let review of showlisting.review) { %>
                                <div class="review-card">
                                    <div class="review-header">
                                        <h4>@<%= review.author.username %>
                                        </h4>
                                        <br>
                                        <p class="starability-result" data-rating="<%=review.rating%>">
                                            Rated: 3 stars
                                        </p>
                                    </div>

                                    <p class="review-text">
                                        <%= review.comment %>
                                    </p>
                                    <% if( review.author.equals(curruser)){%>
                                        <form
                                            action="/listing/<%= showlisting._id %>/reviews/<%= review.id%>?_method=DELETE"
                                            method="post">
                                            <button class="delete-btn" type="submit">
                                                🗑️
                                            </button>

                                        </form>

                                        <% } %>
                                </div>
                                <% } %>
                        </div>




                        <div class="location-section">
                            <div class="location-title">Location</div>
                            <div class="location-sub">
                                <%=showlisting.location %>
                            </div>

                            <div class="map-card">
                                <iframe src="https://www.google.com/maps?q=<%=showlisting.location %>&z=15&output=embed"
                                    loading="lazy" allowfullscreen>
                                </iframe>

                                <div class="map-overlay"></div>
                                <div class="home-marker">🏠</div>
                            </div>
                        </div>
        </div>



    </body>